@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
@Html.AntiForgeryToken()

    <div class="login">
        @Html.ActionLink("Здравствуйте, " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        <i class="fa fa-sign-in"></i><a href="javascript:document.getElementById('logoutForm').submit()"> <span class="hidden-xs text-uppercase">Выйти</span></a>
    </div>

}
}
else
{
    <div class="login">
        <a href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-sign-in"></i> <span class="hidden-xs text-uppercase">Войти</span></a>
        <a href="@Url.Content("~/Account/RegisterUser")"><i class="fa fa-user"></i> <span class="hidden-xs text-uppercase">Регистрация</span></a>
    </div>
}



